{{> head }}  
{{> navbar }}

<div class="container">
  <div class="row">
    <div class="col-8">
      <h1>About</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quam fuga possimus provident libero. Natus magni vel tempore tenetur quaerat iusto dolore, saepe laborum, perspiciatis necessitatibus, earum quia delectus aut.</p>
    </div>
    <div class="col-4">
      <img src="assets/img/imagen1.png" alt="..." class="img-thumbnail">
    </div>
  </div>
</div>
  

{{> footer }}
